
.activeSweet div {
    background-image: linear-gradient(0deg, #ffc0cb, #f8d5db);
    color: #831427;
}




.activeSalt div {
    
    background-image: linear-gradient(0deg, #fcc5a1, #f8dac5);
    color: #753b15;
}

.colored {
    color: #dfc1aa;
    
}